<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Collection</title>
  <link rel="stylesheet" href="style.css" />
  <!-- aos library -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body style="position:relative;justify-content:center;">

  <div class="intro-text" style="position:absolute;z-index:111;width:100%;display:flex;flex-direction:column;justify-content:center;min-height: 100vh;align-items: center;background-color: rgba(0,0,0,0.01);transition: 0.2s all ease">
    <p data-aos="flip-down" data-aos-delay="50" style="color:white;font-size:48px;font-family:'Intria Serif',serif;letter-spacing:1px;">Explore the Exhibition</p>
    <div class="underline" style="width: 100%;"></div>
  </div>

  <div class="intro-instructions" style="position:absolute;z-index:111;width:100%;opacity: 0;display:flex;flex-direction:column;justify-content:center;min-height: 100vh;align-items: center;background-color: rgba(0,0,0,0.01);">
   <div data-aos="flip-down" data-aos-delay="50" style="margin-bottom: 20px;"> <img src="/Images/Icons/mouse-icon.png" alt=""></div>
   <div data-aos="flip-down" data-aos-delay="50" style="font-size:28px;color: white;font-family: 'Intria Serif',serif;">Scroll to Move</div>
  </div>
  
  <div class="viewport">
    <header class="faded" style="position:sticky;top:0;width:100%;filter: blur(8px);transition: 0.5s all ease;z-index: 111;">
  </header>
    <div class="scene3D-container faded2" style="filter: blur(4px);transition: 0.5s all ease;">
      <div class="scene3D"></div>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>

const introText = document.querySelector('.intro-text');
const introInstructions = document.querySelector('.intro-instructions');
const faded = document.querySelector('.faded');
const faded2 = document.querySelector('.faded2');
console.log(faded,faded2);



    let films = [
  './Images/1.png',
  './Images/2.png',
  './Images/3.png',
  './Images/4.png',
  './Images/5.png',
  './Images/6.png',
  './Images/7.png',
  './Images/8.png',
  './Images/9.png',
  './Images/10.png',
  './Images/11.png',
  './Images/12.png',
  './Images/1.png',
  './Images/2.png',
  './Images/3.png',
  './Images/4.png',
  './Images/5.png',
  './Images/6.png',
  './Images/7.png',
  './Images/8.png',
  './Images/9.png',
  './Images/10.png',
  './Images/11.png',
  './Images/12.png',
  
];

const perspectiveOrigin = {
  x: parseFloat(
    getComputedStyle(document.documentElement).getPropertyValue(
      "--scenePerspectiveOriginX"
    )
  ),
  y: parseFloat(
    getComputedStyle(document.documentElement).getPropertyValue(
      "--scenePerspectiveOriginY"
    )
  ),
  maxGap: 10
};

document.addEventListener("DOMContentLoaded", function() {
      appendFilms(films);
      window.addEventListener("scroll", moveCamera);
      window.addEventListener("mousemove", moveCameraAngle);
      setSceneHeight();
});

function createFilmItem(film,index) {
  console.log(film);
  return `<div class='product-node'>
  <a class='product-link' href='https://politesocietyshop.com/products/mono-shirt'><img src='${film}' alt='img' ></a>  
  </div>`;

}

async function appendFilms(films) {
  const filmsEl = document.querySelector(".viewport .scene3D");
  let filmsNodes = [];

 await films.forEach(((film,index) =>{
    createFilmItem(film);
    filmsNodes.push(createFilmItem(film,index));
  })) 

   filmsEl.innerHTML = filmsNodes.join(" ");
}


async function dissolveAnimate(y){
    let products = document.querySelectorAll('.product-node');
    products.forEach((e,index)=>{
      let arr = [];
     if(index>(5+(Math.floor(y/300)))){
      e.style.opacity = `0`;
      setTimeout(()=>{
        e.style.display = `none`;
      },500)
      }else{
        e.style.display = `block`;
        setTimeout(()=>{
          e.style.opacity = `1`;
        },500)
      }

    })
}

function moveCamera() {
    document.documentElement.style.setProperty("--cameraZ", window.pageYOffset);
    faded.style.filter = `blur(0px)`;
    faded2.style.filter = `blur(0px)`;
    setTimeout(()=>{
      introInstructions.style.opacity = `0`;
      setTimeout(()=>{
        introInstructions.style.display = `none`;
        introText.style.display = `none`;
      })
    },350)

    dissolveAnimate(window.pageYOffset);

}

function setSceneHeight() {
  const numberOfItems = films.length;
  const itemZ = parseFloat(
    getComputedStyle(document.documentElement).getPropertyValue("--itemZ")
  );
  const scenePerspective = parseFloat(
    getComputedStyle(document.documentElement).getPropertyValue(
      "--scenePerspective"
    )
  );
  const cameraSpeed = parseFloat(
    getComputedStyle(document.documentElement).getPropertyValue("--cameraSpeed")
  );

  const height =
    window.innerHeight +
    scenePerspective * cameraSpeed +
    itemZ * cameraSpeed * numberOfItems;

  document.documentElement.style.setProperty("--viewportHeight", height);
}

function moveCameraAngle(event) {
  const xGap =
    (((event.clientX - window.innerWidth / 2) * 100) /
      (window.innerWidth / 2)) *
    -1;
  const yGap =
    (((event.clientY - window.innerHeight / 2) * 100) /
      (window.innerHeight / 2)) *
    -1;
  const newPerspectiveOriginX =
    perspectiveOrigin.x + (xGap * perspectiveOrigin.maxGap) / 100;
  const newPerspectiveOriginY =
    perspectiveOrigin.y + (yGap * perspectiveOrigin.maxGap) / 100;

  document.documentElement.style.setProperty(
    "--scenePerspectiveOriginX",
    newPerspectiveOriginX
  );
  document.documentElement.style.setProperty(
    "--scenePerspectiveOriginY",
    newPerspectiveOriginY
  );
}
setTimeout(()=>{
const btn = document.querySelector('.product-link')
btn.onClick = (e) => {
  console.log(e.target)
}
}


,1000)


setTimeout(()=>{
  introText.style.opacity= `0`;
  setTimeout(()=>{
    introInstructions.style.opacity = `1`;
  },300)
},1000);




  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
      AOS.init();
    </script>
</body>

</html>